*.aux
*.log
*.synctex.gz
*.pdfsync
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.dvi
*.ps
*.bbl
*.blg
*.brf
*.spl
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fls
*.loe
*.lol
*.loa
*.lop
*.tdo
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.run.xml